{% extends 'layout.html' %}

{% block body%}
    <div class="jumbotron text-center" >
        <h1>Welcome To Flask Application</h1>
        <p class="lead" >This is an application built using Python Flask framework and its for learning purposes. kind of training wheels</p>

        {% if session.logged_in==NUL %}
            <a href="/register" class="btn btn-primary btn-lg">Register</a>
            <a href="/login" class="btn btn-success btn-lg" >Login</a>
        {% endif %}
    </div>
{% endblock%}